<section class="wrapper site-min-height">
<div class="panel detailed col-sm-3 col-sm-offset-9">
    <h4>Recent Activity</h4>
    <div class="recent-activity">
        <div class="activity-icon bg-theme"><i class="fa fa-check"></i></div>
        <div class="activity-panel">
            <h5>1 HOUR AGO</h5>
            <p>Purchased: Dashio Admin Panel & Front-end theme.</p>
        </div>

        <div class="activity-icon bg-theme02"><i class="fa fa-trophy"></i></div>
        <div class="activity-panel">
            <h5>5 HOURS AGO</h5>
            <p>Task Completed. Resolved issue with Disk Space.</p>
        </div>

        <div class="activity-icon bg-theme04"><i class="fa fa-rocket"></i></div>
        <div class="activity-panel">
            <h5>3 DAYS AGO</h5>
            <p>Launched a new product: Flat Pack Heritage.</p>
        </div>
    </div><! --/recent-activity -->
</div><!-- /detailed -->
</section><!-- /wrapper -->