<p class="centered">
    <a href="profile.html">
        <img src="assets/img/lior.png" class="img-circle" width="80">
    </a>
</p>
<h5 class="centered">Lior Ginsberg</h5>

<li class="mt">
    <a  href="#dashboard">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
    </a>
</li>


<li>
    <a  href="#inbox">
        <i class="fa fa-envelope"></i>
        <span>Mail </span>
        <span class="label label-theme pull-right mail-info"><%= counter.getMessagesCount('messages') %></span>
    </a>
</li>
<li>
    <a  href="#tasks">
        <i class="fa fa-tasks"></i>
        <span>Tasks </span>
        <span class="label label-theme pull-right mail-info"><%= counter.getMessagesCount('tasks') %></span>
    </a>
</li>
<li>
    <a  href="#calendar">
        <i class="fa fa-calendar"></i>
        <span>Calendar </span>
    </a>
</li>
<li>
    <a  href="#accounts">
        <i class="fa fa-users"></i>
        <span>Accounts </span>
    </a>
</li>